2560x1440/*.png filter=lfs diff=lfs merge=lfs -text
2560x1440/*.jpg filter=lfs diff=lfs merge=lfs -text
3840x2160/*.jpg filter=lfs diff=lfs merge=lfs -text
3840x2160/*.png filter=lfs diff=lfs merge=lfs -text
